* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  margin: auto; 
}

/*____________________header style__________________*/

header {
display: flex;
margin: auto;
width: 1242px;
margin-top: 20px;
margin-bottom: 20px;
}

.menu-logo {
  display: flex;
  width:100%;
}

h1 {
  color:#F98561;
  font-size: 20pt; 
}

ul {
  display: flex;
  margin-left: 202px;
  padding-top: 10px;
  list-style-type: none;
}

li {
  margin: 0px 47px;
  padding: 0px;
}

li a {
  text-decoration: none;
  text-align: center;
  color:#515862;
  font-size: 14pt; 
}

li a:hover {
  font-size: 16pt;
}

.blog {
  background-color: #F98561;
  padding: 0px 13px;
  border-radius: 3px;
}

img.search {
  width: 34px;
  background-color: #F98561;
  border-radius: 30px;
}

p.search {
  color: #515862;
  margin-left: 89px;
}

/*________________slider style______________ */

.slider {
  display: flex;
  width:1536px;
  height: 396px;
  background-image: url(../imags/Homepagheader.jpg);
}

.home-background {
  width: 1228px;
  margin: auto;
}

.good {
  margin-top: 110px;
  font-size: 30pt;
  text-align: center;
  color:#f3f3f3;
}

.design-paragraph {
  width: 549px;
  margin: auto;
  font-size:14px;
  text-align: center;
  color: #f3f3f3;
  padding-top: 9px;
} 
.learn-button {
  margin: auto;
  color: #f3f3f3;
  background-color: #F98561;
  border-radius: 2px;
  width: 140px;
  text-align: center;
  padding: 10px;
  margin-top: 18px;
  font-family: cursive;
}

.slider-circle {
  display: flex;
  margin-top: 88px;
  flex-direction: row-reverse;
}

.slider-circle1 {
  width: 13px;
  height: 13px;
  border-radius: 30px;
  background-color: #ADADAD;
  margin-right: 6px;
}

.slider-circle1:hover {
  background-color: #2190C1;
}

.our {
  background-color: #2190C1;
  color:#ffffff;
  width: 109px;
  margin: auto;
  padding: 5px;
  margin-top: 20px
}

/*____________________Main Content_____________________*/

/*_______oUR SERVICES_______*/

.main-content {
  width: 1242px;
  margin: auto;
}

.services { 
  width: 100%;
  display: flex;
  margin: auto;  
}

.shapter {
  margin-top: 50px;
  width: 25%;
  text-align: center;
}
.shapter h2 {
  font-size: 20px;
  margin: 14px 0px;
}

.shapter p {
  font-size: 16px;
}

/*_____ Our Portfolio _____*/


.our-portfolio {
  background-color: #2E3E4F;  
}

.imags-portfolio {
  display: flex;
  color:#ffffff
}

.imags-portfolio h1{
  color: #F98561;
}

