* {
  margin: 0px;
  padding: 0px;
}
hr {
  width: 100%;
}
a {
  text-decoration: none;
  color: #2190c1;
}
/*____________________header style__________________*/

header,
.main-content {
  margin: auto;
  width: 1242px;
}

header {
  display: flex;
  padding: 20px 0;
}

.menu-logo {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu-logo-bottom {
  display: flex;
  flex-basis: 70%;
  justify-content: space-between;
}

h1 {
  color: #f98561;
  font-size: 20pt;
}

ul {
  display: flex;
  list-style-type: none;
  flex-basis: 80%;
  justify-content: space-between;
  align-items: center;
}

li a {
  text-decoration: none;
  text-align: center;
  color: #515862;
  font-size: 14pt;
}

li a:hover {
  font-size: 16pt;
}

.blog {
  background-color: #f98561;
  padding: 0px 13px;
  border-radius: 3px;
}

.search {
  color: #515862;
  display: flex;
  align-items: center;
}

.search span {
  margin-right: 10px;
}

.search img {
  width: 34px;
  background-color: #f98561;
  border-radius: 30px;
}

/*________________slider style______________ */

.slider {
  display: flex;
  height: 396px;
  background-image: url(../imags/Homepagheader.jpg);
}

.home-background {
  width: 1228px;
  margin: auto;
}

.good {
  margin-top: 110px;
  font-size: 30pt;
  text-align: center;
  color: #f3f3f3;
}

.design-paragraph {
  width: 549px;
  margin: auto;
  font-size: 14px;
  text-align: center;
  color: #f3f3f3;
  padding-top: 9px;
}
.learn-button {
  margin: auto;
  color: #f3f3f3;
  background-color: #f98561;
  border-radius: 2px;
  width: 140px;
  text-align: center;
  padding: 10px;
  margin-top: 18px;
  font-family: cursive;
}

.slider-circle {
  display: flex;
  margin-top: 88px;
  flex-direction: row-reverse;
}

.slider-circle1 {
  width: 13px;
  height: 13px;
  border-radius: 30px;
  background-color: #adadad;
  margin-right: 6px;
}

.slider-circle1:hover {
  background-color: #2190c1;
}

.our {
  background-color: #2190c1;
  color: #ffffff;
  width: 109px;
  margin: auto;
  padding: 5px;
  margin-top: 20px;
}

/*____________________Main Content_____________________*/

/*_______oUR SERVICES_______*/

.services {
  display: flex;
  margin: 50px 0;
  text-align: center;
  justify-content:space-between;
}

.shapter {
  flex-basis: 21%;
}
.shapter h2 {
  margin: 20px 0;
}

.shapter p {
}

/*________ Our Portfolio ________*/

.our-portfolio {
  background-color: #2e3e4f;
  margin-left: calc(-100vw / 2 + 1242px / 2);
  margin-right: calc(-100vw / 2 + 1242px / 2);
}

.portfolio {
  width: 1242px;
  display: flex;
  color: #ffffff;
  padding: 26px 0px 54px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.portfolio h3 {
flex-basis: 33%;

}

.portfolio p {
  flex-basis: 7%;
  background-color: #2190C1;
  border-radius: 2px;
  padding: 6px;;
}

.portfolio-shapters {
  width: 1242px;
  display: flex;
  justify-content: space-between;
  margin: auto;;
}

.portfolio-shapter {
  flex-basis: 22%;
}

.portfolio-shapter img {
  width: 387px;
  height: 256px;

}
.portfolio-shapter h3 {
  margin: 30px 0;
  color:#f98561
}

.portfolio-shapter p {
  margin: 35px 0;
  color: #bbbbbb;
}

/*___________our OFFER___________*/

.offer {
  margin: 30px 0;
}

.what-we-offer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
}

.what-we-offer h2 {
  color: #2190C1;
  margin: 20px 0;
  
}

.what-we-offer p {
  margin: auto; 
  width: 48%;
  font-size: 13px;
  color: #515862;
}

.our-offer {
  display: flex;
  justify-content: space-between;
}

.our-offer div {
  flex-basis: 18%;
}

.our-offer h3 {
  color: #2190C1;
  padding: 24px 0;
}

.our-offer p {
  color:#515862
}

.testimonials {
  text-align: center;
  margin-top: 40px;
}

.pregraft h2 {
  margin: 16px 0;
  color: #2190C1;
  font-size: 30px;
}

.pregraft p {
  color: #2e3e4f;
  font-size: 28px;
  width: 70%;
  margin: auto;
}

.identification {
  
}

.identification p {
  margin: 60px 0;
  color: #f98561;
}

.identification-pic {
  display: flex;
  justify-content: center;
}

.sections {
  flex-basis: 7%;
}

.sections hr {
  border: 3px solid #adadad;
  width: 66px;
  margin: auto;
}

/*___________________________footer____________________________*/

footer {
  background-color: #2e3e4f;
  width: 100%;
} 

.title-contect {
  display: flex;
  width: 1242px;
  margin: auto;
  padding: 50px 0;
  justify-content: space-between;
}

.bird-feed {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.bird-feed  div  {
  margin: 20px 0;
  color: #ffffff;
}

.news {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.news div {
  margin: 20px 0;
  color: #ffffff;
}

.recent-projects {

}

.projects-image {
   background-color: #f3f3f3;
  width: 53px;
  height: 53px;
  margin: 0 20px 0 0;

}

.projects {
  display: flex;
  margin: 20px 0;
  color: #ffffff;
}

.Contact {
  
}

.foon {
  display: flex;
  margin: 22px 0;
  color: #ffffff;
}

.foon img {
  margin: 0 20px 0  0;
}

